@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html  lang="pl-PL">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mopsik</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-indigo.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body style="display: flex; flex-direction: column; justify-content: space-between">
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #3d6dcc">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" id="homeNav">
                    <li id="logo"><a asp-area="" asp-controller="Map" asp-action="Index" style="color: white; margin: 0px; padding: 0px">
                        <img src="~/images/logo_clear.png" style="height: 40px; margin-top: 4px; margin-right: 20px" />
                    </a></li>
                    <li id="map-link"><a asp-area="" asp-controller="Map" asp-action="Index" style="color: white">Mapa</a></li>
                    <li id="search-link"><a asp-area="" asp-controller="Search" asp-action="Index" style="color: white">Wyszukiwarka</a></li>
                </ul>
            </div>
         </div>
    </nav>
    <script>
        var tab = $(location).attr('pathname').split("/")[1];
        var selected = {
            'background-color': '#8aa8e3'
        };
        var unselected = {};
        switch (tab) {
            case "Search":
                $("#map-link").css(unselected);
                $("#search-link").css(selected);
                break;
            case "":
            case "Map":
                $("#search-link").css(unselected);
                $("#map-link").css(selected);
                break;
        }
    </script>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="mdl-mini-footer fixed-bottom" style="background-color: #3d6dcc;" id="footer">
        <div class="container">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">Mopsik</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="https://github.com/mopsy-team/" style="color: lightgray">Mopsy Team</a></li>
                    <li style="color: lightgray">2018</li>
                </ul>
            </div>
        </div>
</footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
