@using mopsik_www.ViewModels
@model MopListViewModel

@{
    ViewData["Title"] = "Search";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <hr />
    <div>
        <table>
            <tr>
                <th>Mop</th>
                <th>Id</th>
            </tr>
            @foreach (MopViewModel item in Model.Mops)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Id</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
