
@{
    ViewData["Title"] = "Search";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <hr />
    <a href ="/Employee/AddNew">Add New</a>
        <div>
            <table>
                <tr>
                    <th>Employee Name</th>
                    <th>Salary</th>
                </tr>
         
            </table>
        </div>
</body>
</html>
