#usage-graph-car, #usage-graph-bus, #usage-graph-truck {
    width: 75px;
    height: 75px;
    position: relative;
}

#usage-car, #usage-bus, #usage-truck,
#usage-circle-car, #usage-circle-bus, #usage-circle-truck {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#usage-circle-car, #usage-circle-bus, #usage-circle-truck {
    z-index: 10;
}

#usage-car, #usage-bus, #usage-truck {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}